body {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: black;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 700px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 520px;
  padding: 16px 0px;
  background: black;
}
.title {
  font-family: "Sprinkled", sans-serif;
  font-size: 64px;
  font-weight: 400;
  color: rgb(230, 214, 187);
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 530px;
  width: 100%;
  justify-content: left;
  align-items: center;
  gap: 32px;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 145px;
  height: 100%;
  background: black;
  gap: 16px;
}

.container_pen,
.container_background {
  padding: 5px 0px;
  background: rgb(65, 65, 65);
}

.container_pen,
.container_background,
button {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 16px;
  border-radius: 5px;
}

.container_buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

button {
  max-width: 70px;
  margin-left: 10%;
  padding: 5px 10px;
  justify-content: center;
  font-family: "Sprinkled", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgb(230, 214, 187);
  background: rgb(108, 108, 108);
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
}

.container_pen > button:hover,
.container_background > button:hover,
.container_buttons > button:hover {
  color: rgb(99, 226, 103);
  background: rgb(140, 140, 140) !important;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  background: rgb(140, 140, 140);
  height: 100%;
  border-radius: 100px;
  overflow: hidden;
}

main > p {
  margin: 0;
  padding: 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 520px;
  gap: 16px;
  color: rgb(230, 214, 187);
  background: black;
  font-size: 20px;
  margin: 0;
}

.fa-github {
  color: rgb(230, 214, 187);
  font-size: 28px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotateY(360deg) scale(1);
}
